/* @import url('https://fonts.googleapis.com/css?family=Pacifico|Palanquin+Dark:500|Patua+One|Philosopher:700|Roboto+Slab:700');

font-family: 'Pacifico', cursive;
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/* Inkwell Logo at top left */

h1.inkwell-logo {
    font-family: 'Patua One', cursive;

    margin: 0;
    padding: 0;

    line-height: 85%;
}

a.navbar-inkwell {
    padding-top: 10px !important;
}
